.wfh-request{
    background-color: white;
    color: black;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    padding-bottom: 10px;
max-width: 600px;
    border: 2px solid gold;
margin: auto;

}


.wfh-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
    background-color: #e8e8fb;
    width: 90vw;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    align-items: center;
    max-width: 550px;
    width: 85vw;
}

.wfh-which{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.timeoff-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history{
    
    background-color: ghostwhite;
    color: black;
    padding: 10px;
    border: 2px solid gold;
        margin: auto;
        max-width: 600px;
      
        width: 85vw;
        margin-top: 30px;
        margin-bottom: 50px;

}

.share-wfh-input{
    border: 1px solid;
    padding: 5px;
    background-color: white;
}

.info-div-of-users{
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




@media screen and (min-width:1024px){
    .info-div-of-users {
      
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1000px;
        margin: auto;
        margin-top: 20px;
    }


    .history{
        margin-top: auto;
        margin-left: 20px;
    }

    .timeoff-profile{
        
        padding: 0;
    }

}