input[type="file"] {
    display: none;
}

.react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text {
   
    width: 4rem!important;
    height: 4rem!important;
    border:2px solid #fff!important;
    outline: 2px solid #fff!important;
    
}

.react-datepicker__day-name {
    width: 4rem!important;
    height: 4rem!important;
    line-height: 4rem!important;
    border:2px solid #fff!important;
    outline: 2px solid #fff!important;
}

.react-datepicker{
    width: 50vw!important;
    margin: auto!important;
}


.react-datepicker__month-container {
    float: none!important;
}

@media screen and (min-width: 640px) {
    .react-datepicker{
        width: 45vw!important;
        margin: auto!important;
    }

    .react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text {
   
        width: 2rem!important;
        height: 4rem!important;
        border:2px solid #fff!important;
        outline: 2px solid #fff!important;
        
    }
    
    .react-datepicker__day-name {
        width: 2rem!important;
        height: 4rem!important;
        line-height: 4rem!important;
        border:2px solid #fff!important;
        outline: 2px solid #fff!important;
    }

}

@media  screen and (min-width: 1024px) {
    .react-datepicker{
        width: 50vw!important;
        margin: auto!important;
    }


    .react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text {
   
        width: 4rem!important;
        height: 4rem!important;
        border:2px solid #fff!important;
        outline: 2px solid #fff!important;
        
    }
    
    .react-datepicker__day-name {
        width: 4rem!important;
        height: 4rem!important;
        line-height: 4rem!important;
        border:2px solid #fff!important;
        outline: 2px solid #fff!important;
    }

    
    
}

@media  screen and (min-width: 1800px) {
    .react-datepicker{
        width: 50vw!important;
        margin: auto!important;
    }


    .react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text {
   
        width: 7.5rem!important;
        height: 4rem!important;
        border:2px solid #fff!important;
        outline: 2px solid #fff!important;
        
    }
    
    .react-datepicker__day-name {
        width: 7.5rem!important;
        height: 4rem!important;
        line-height: 4rem!important;
        border:2px solid #fff!important;
        outline: 2px solid #fff!important;
    }

    
    
}


